.float-left,
.wrapper-grid-a > .wrapper-block-a,
.wrapper-grid-b > .wrapper-block-a, 
.wrapper-grid-b > .wrapper-block-b,
.wrapper-grid-b > .wrapper-block-c,
.wrapper-grid-c > .wrapper-block-a,
.wrapper-grid-f > .wrapper-block-a,
.wrapper-grid-f > .wrapper-block-b,
.wrapper-grid-f > .wrapper-block-c,
.wrapper-grid-f > .wrapper-block-d,
.wrapper-grid-f > .wrapper-block-e,
.wrapper-grid-g > .wrapper-block-a,
.wrapper-grid-g > .wrapper-block-b,
.wrapper-grid-g > .wrapper-block-c,
.wrapper-grid-g > .wrapper-block-d,
.wrapper-grid-e > .wrapper-block-a,
.wrapper-grid-j > .wrapper-block-a,
.wrapper-grid-h > .wrapper-block-a,
.wrapper-grid-i > .wrapper-block-a,
.wrapper-grid-k > .wrapper-block-a,
.wrapper-grid-k > .wrapper-block-b,
.wrapper-grid-l > .wrapper-block-a {
	float: left;
}

.float-right,
.wrapper-grid-a > .wrapper-block-b,
.wrapper-grid-c > .wrapper-block-b,
.wrapper-grid-e > .wrapper-block-b,
.wrapper-grid-j > .wrapper-block-b,
.wrapper-grid-h > .wrapper-block-b,
.wrapper-grid-k > .wrapper-block-c {
	float: right;
}

.container-clear-floats:after,
.wrapper-grid-a:after,
.wrapper-grid-b:after,
.wrapper-grid-c:after,
.wrapper-grid-e:after,
.wrapper-grid-f:after,
.wrapper-grid-g:after,
.wrapper-grid-j:after,
.wrapper-grid-h:after,
.wrapper-grid-i:after,
.wrapper-grid-k:after,
.wrapper-grid-l:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

/*** Clear - IE Fix ***/
.container-clear-floats,
.wrapper-grid-a,
.wrapper-grid-b,
.wrapper-grid-c,
.wrapper-grid-e,
.wrapper-grid-f,
.wrapper-grid-g,
.wrapper-grid-j,
.wrapper-grid-h,
.wrapper-grid-i,
.wrapper-grid-k,
.wrapper-grid-l,
.list-float-left {
	display: inline-block;
	display: block;
	zoom:1;
}
/*** Clear - IE Fix ***/

/*********** grid-a Start ***********/
.wrapper-grid-a > .wrapper-block-a, 
.wrapper-grid-a > .wrapper-block-b {
	width: 50%;
}
/*********** grid-a END *************/

/*********** grid-b Start ***********/
.wrapper-grid-b > .wrapper-block-a, 
.wrapper-grid-b > .wrapper-block-c {
	width: 25%;
}

.wrapper-grid-b > .wrapper-block-b {
	width: 40%;
	margin: 0% 5%;
}
/*********** grid-b END *************/

/*********** grid-c Start ***********/
.wrapper-grid-c > .wrapper-block-a,
.wrapper-grid-c > .wrapper-block-b {   
	width: 45%;
}
/*********** grid-c END *************/


/*********** grid-e Start ***********/
.wrapper-grid-e > .wrapper-block-a {
	width: 65%;
	margin-right: 5%;
}

.wrapper-grid-e > .wrapper-block-b {
	width: 30%;
}
/*********** grid-e END *************/

/*********** grid-f Start ***********/
.wrapper-grid-f > .wrapper-block-a,
.wrapper-grid-f > .wrapper-block-b,
.wrapper-grid-f > .wrapper-block-c,
.wrapper-grid-f > .wrapper-block-d,
.wrapper-grid-f > .wrapper-block-e {
	width: 20%;
}
/*********** grid-f END *************/

/*********** grid-g Start ***********/
.wrapper-grid-g > .wrapper-block-a,
.wrapper-grid-g > .wrapper-block-b,
.wrapper-grid-g > .wrapper-block-c,
.wrapper-grid-g > .wrapper-block-d {
	width: 25%;
}
/*********** grid-g END *************/

/*********** grid-j Start ***********/
.wrapper-grid-j > .wrapper-block-a {
	width: 25%;
}

.wrapper-grid-j > .wrapper-block-b {
	width: 74%;
}
/*********** grid-j END *************/

/*********** grid-h ***********/
.wrapper-grid-h > .wrapper-block-a {
	width: 25%;
}

.wrapper-grid-h > .wrapper-block-b {
	width: 65%;
}
/*********** grid-h END *************/

/*********** grid-i Start ***********/
.wrapper-grid-i > .wrapper-block-a  {
	width: 14.25%;
}
/*********** grid-i END *************/

/*********** grid-k Start ***********/
.wrapper-grid-k > .wrapper-block-a,
.wrapper-grid-k > .wrapper-block-c {
	width: 31.33%;
}

.wrapper-grid-k > .wrapper-block-b {
	width: 31.33%;
	margin: 0 3%;
}
/*********** grid-k END *************/

/*********** grid-l Start ***********/
.wrapper-grid-l > .wrapper-block-a {
	width: 16.6%;
}
/*********** grid-l END *************/