.client-message-item-frame {
    position: relative;

    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.client-message-item {
    position: relative;

    display: block;
    width: 99.5%;
    margin: auto;
}

.client-message-item-date-info {
    position: relative;

    display: block;
    margin-top: .2em;
}

.standart-text-area {
    position: relative;

    display: block;
    width: 75%;
}

.client-message-text-area {
    margin: 1em 0;
}

.standart-form-button:before {
    float: left;
    text-align: center;
    font-size: 1.6em;
    margin: 0 .2em 0 0;
    padding: 0 .2em;
}

.standart-form-button {
    position: relative;

    display: inline-block;
    margin: 0;
    line-height: 20px;
    padding: 5px 5px;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;

    cursor: pointer;
}