@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twitter Backup</h1>
    <p class="lead">Project info: Develop a Javascript-based Single Page Application (SPA) with .NET Backend that allows users to store tweets from their favorite Twitter users </p>
    <p>
        <a href="https://github.com/dimitardanailov/TwitterBackupBackendAndAngularjs" 
          class="btn btn-primary btn-lg">Github repo &raquo;</a>
    </p>
</div>