
@{
    ViewBag.Title = "TwitterBackupHomePage";
}

<section id="bodyContainer" ng-app="TwitterBackup"> 

    <nav>
        <h3>
            Angularjs Route
        </h3>
        <ul>
            <li>
                <a href="/angular/homepage">Home Page</a>
            </li>
            <li>
                <a href="/angular/twitterwall">Twitter Wall</a>
            </li>
        </ul>
    </nav>

    <section id="content">
        <section id="container">
            <section ng-view>
            </section>
        </section>
    </section>
</section>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    <script src="https://code.angularjs.org/1.4.6/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
    @Scripts.Render("~/Scripts/angular/twitter.js")
}


