<section>

    <!-- Grid C -->
    <div class="wrapper-grid-c">
        <!--- Left Cell --->
        <div class="wrapper-block-a">
            <div>
                <div>
                    <span class="display-block">
                        {{ errorMessage }}
                    </span>
                    <label class="display-block">
                        Your twitter message :
                    </label>
                    <span class="display-block">Your message shoud be at least 10 characters.</span>
                </div>
                <div>
                    <textarea type="text"
                              ng-form=""
                              ng-model="clientMessage.Text" />
                </div>
            </div>
            <div>
                <button ng-click="save()">{{ savingButtonMessage }}</button>
            </div>
        </div>
        
        <!--- END Left Cell --->

        <!-- Right Cell -->
        <div class="wrapper-block-b">

            <!-- Load my previous posts -->

            <h2>My Previous posts</h2>

            <li ng-repeat="clientMessage in clientMessages" class="reset-list">
                <div class="client-message-wrapper">
                    <div>
                        Name:
                        {{ clientMessage.text }}
                    </div>
                    <div>
                        Created at :
                        {{ clientMessage.createdAt }}
                    </div>
                </div>
                
            </li>
        </div>
        <!-- END Right Cell -->
    </div>
    <!-- END Grid C -->

</section>